<!--begin::Messenger-->
<div class="card w-100 rounded-0 border-0" id="kt_drawer_chat_messenger">
	<!--begin::Card header-->
	<div class="card-header pe-5" id="kt_drawer_chat_messenger_header">
		<!--begin::Title-->
		<div class="card-title">
			<!--begin::User-->
			<div class="d-flex justify-content-center flex-column me-3">
				<a href="#" class="fs-4 text-gray-900 text-hover-primary me-1 mb-2 lh-1">پنل اطلاع رسانی</a>
				<!--begin::Info-->
				<div class="mb-0 lh-1">
					<span class="badge badge-success badge-circle w-10px h-10px me-1"></span>
					<span class="fs-7 fw-semibold text-muted">فعال است</span>
				</div>
				<!--end::Info-->
			</div>
			<!--end::User-->
		</div>
		<!--end::Title-->
		<!--begin::Card toolbar-->
		<div class="card-toolbar">
			<!--begin::Close-->
			<div class="btn btn-sm btn-icon btn-active-light-primary" id="kt_drawer_chat_close">
				<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
				<span class="svg-icon svg-icon-2">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
						<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
					</svg>
				</span>
				<!--end::Svg Icon-->
			</div>
			<!--end::Close-->
		</div>
		<!--end::Card toolbar-->
	</div>
	<!--end::Card header-->
	<!--begin::Card body-->
	<div class="card-body" id="kt_drawer_chat_messenger_body">
		<!--begin::Messages-->
		<!--end::Messages-->
	</div>
	<!--end::Card body-->
	<!--begin::Card footer-->
	<!--end::Card footer-->
</div>
<!--end::Messenger-->